<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<link rel="stylesheet" href="css/navbar.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="../../static/js/navbar.js"></script>
<body>
    <div th:fragment="fragment-nav">
        <section class="navigation">
            <div class="nav-container">
                <nav>
                    <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
                    <ul class="nav-list">
                        <li>
                            <div id="login" th:text="'login'"></div>
                            <div id="logout" th:text="'logout'"></div>
<!--                            <div id="login" th:if="${#strings.isEmpty(session.UserCode)}" th:text="'login'"></div>-->
<!--                            <div id="logout" th:unless="${#strings.isEmpty(session.UserCode)}" th:text="'logout'"></div>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="/calendar1">Calendar</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="/myreport">My report</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="/mypage">Mypage</a>-->
<!--                        </li>-->
<!--                    </ul>-->
                </nav>
            </div>
        </section>
    </div>
</body>
</html>